html, body {
    display: flex;
    margin: 0;
    font-family: Avenir LT W01_55 Roman, Avenir, sans-serif;
}

html,
body,
.container {
    height: 100%;
    width: 100%;
}

.container .avatar {
    background-size: cover;
}

body {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #a7a1a1;
    border-radius: 12px;
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #616060;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

.container {
    display: flex;
    flex-direction: column;
}


.container .content {
    min-height: 0;
    display: flex;
    flex-grow: 1;
    overflow: auto;
    position: relative;
}

.container .content .flex-between-item {
    display: flex;
    justify-content: space-between;
}

.container .content .flex-between-item p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
}

.container .content .flex-between-item span {
    border: solid 1px #979797;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.container .content .flex-between-item span:hover {
    color: rgba(168, 168, 168, 0.7);;
}

.left-mar-9 {
    margin-left: 9px;
}
