.container .content .dialog {
    display: flex;
    flex-direction: column;
    flex: 1 0 44%;
    min-width: 410px;
    border: solid 1px #979797;
}

.container .content .dialog .messages {
    display: flex;
    flex-direction: column;
    padding: 96px 30px 30px 33px;
    background-color: #f3f4f7;
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
}

.container .content .dialog .messages .photo {
    margin: 0;
}

.container .content .dialog .messages .my {
    justify-content: flex-end;
    padding-left: 61px;
}
.container .content .dialog .messages .my .photo {
    background-image: url("images/drawn.jpg");
}

.container .content .dialog .messages .opponent .photo {
    background-image: url("images/steph.jpg");
}

.container .content .dialog .messages .replica {
    display: flex;
    flex-direction: row;
    margin-bottom: 47px;
}
.container .content .dialog .messages .replica:nth-last-child(1) {
    margin-bottom: 0px;
}

.container .content .dialog .messages .content-message {
    display: flex;
    flex-direction: column;
}

.container .content .dialog .messages .content-message .time.right {
    text-align: end
}

.container .content .dialog .messages .content-message .time.margin {
    margin: 8px 55px;
}

.container .content .dialog .messages .content-message .time.left {
    margin: 8px 0 0 55px;
}

.container .content .dialog .messages .replica.simple-message .content-message .message-photo {
    display: flex;
    align-items: center;
}

.container .content .dialog .messages .replica.big-message .content-message .message-photo {
    display: flex;
    position: relative;
}

.container .content .dialog .messages .replica .file-condition {
    display: flex;
    flex-direction: row;
}

.container .content .dialog .messages .replica .file-condition .content-message .time {
    margin-top: 8px;
}

.container .content .dialog .messages .replica .file-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 29px 16px;

    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
}

.container .content .dialog .messages .replica .file-text .file-name {
    color: #000000;
}

.container .content .dialog .messages .replica .file-text .file-info {
    margin-top: 4px;
    color: #1b76ed;
    cursor: pointer;
    user-select: none;
}

.container .content .dialog .messages .replica .content-message .file {
    display: flex;
    flex-direction: row;
}

.container .content .dialog .messages .replica .content-message .file .file-photo {
    display: flex;
    flex-direction: column;
    position: relative;
}

.container .content .dialog .messages .replica .content-message .file .file-preview {
    width: 114px;
    height: 84px;
    display: flex;
    position: relative;
    border-radius: 4px;
    padding: 16px 18px 16px 16px;
    justify-content: center;
    align-items: center;
    background: url("images/room.jpg");
    background-size: contain;
    filter: brightness(57%);
}

.container .content .dialog .messages .replica .content-message .file .open-file {
    border-radius: 50%;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    top: 32%;
    left: 34%;
    position: absolute;
}

.container .content .dialog .messages .opponent .content-message .message-photo .photo {
    margin-right: 15px;
}

.container .content .dialog .messages .opponent.big-message .content-message .message-photo .photo {
    margin-top: 18px;
}

.container .content .dialog .messages .replica .my-message-area {
    position: relative;
    border-radius: 4px;
    padding: 16px 18px 16px 16px;
    margin-right: 15px;
    flex: 1 0;
}

.container .content .dialog .messages .my .content-message .message-photo .my-message-area {
    background-color: #1b76ed;
}

.container .content .dialog .messages .opponent .content-message .message-photo .my-message-area {
    background-color: #ffffff;
}

.container .content .dialog .messages .my .content-message .message-photo .my-message-area:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent #1b76ed;
    content: '';
    position: absolute;
    right: -8px;
    top: 46%;
}

.container .content .dialog .messages .opponent.simple-message .content-message .message-photo .my-message-area:after {
    top: 46%;
}

.container .content .dialog .messages .opponent.replica .content-message .message-photo .my-message-area:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 8px 4px 0;;
    border-color: transparent #ffffff transparent transparent;;
    content: '';
    position: absolute;
    left: -8px;
}

.container .content .dialog .messages .opponent.big-message .content-message .message-photo .my-message-area:after {
    top: 34px;
}

.container .content .dialog .messages .my .content-message .message-photo .my-message-area .message {
    color: #ffffff;
}

.container .content .dialog .messages .opponent.replica .content-message .message-photo .my-message-area .message {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
}

.container .content .dialog .messages .my .content-message .message-photo .message {

}

.container .content .dialog .messages .time {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #939393;
}

.container .content .dialog .message-area {
    min-height: 62px;
    box-shadow: inset 0 1px 0 0 rgba(173, 173, 173, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.container .content .dialog .message-area i {
    cursor: pointer;
    margin: 0;
}

.container .content .dialog .message-area i:before {
    margin: 0;
}

.container .content .dialog .message-area .flaticon-paperclip {
    margin: 0 24px 0 32px;
}

.container .content .dialog .message-area form {
    display: flex;
    flex-direction: row;
    flex: 1 0;
}

.container .content .dialog .message-area form .textarea {
    flex: 1 0;
}

.container .content .dialog .message-area .send {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #25c14a;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    margin-right: 30px;
}

.container .content .dialog .message-area .send:focus {
    outline: none;

}

.container .content .dialog .message-area textarea {
    width: 100%;
    height: 20px;
    border: none;
    resize: none;
}

.container .content .dialog .message-area textarea::placeholder {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #000000;
}

.container .content .dialog .message-area textarea:focus {
    border: none;
    outline: none;
}
