.container .content .dialogs-list {
    display: flex;
    flex-direction: column;
    flex: 1 0 341px;
    background-color: #111519;
}

.container .content .dialogs-list .top-of-dialogs-list {
    height: 97px;
    box-shadow: inset 0 -1px 0 0 #3e444e;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container .content .dialogs-list .top-of-dialogs-list .flex-between-item {
    margin: 0 16px 23px 24px;
    padding-top: 18px;
}

.container .content .dialogs-list .top-of-dialogs-list .flex-between-item i {
    height: 22px;
    width: 9px;
}

.container .content .dialogs-list .top-of-dialogs-list .flex-between-item i:before {
    margin: 0;
    font-size: 10px;
}

.container .content .dialogs-list .top-of-dialogs-list ul {
    margin: 0 0 0 9px;
    list-style-type: none;
    color: #5f6773;
    padding: 0;
    font-size: 14px;
}

.container .content .dialogs-list .top-of-dialogs-list ul li {
    width: 108px;
    padding-bottom: 16px;
    cursor: pointer;
    justify-content: center;
    display: inline-flex;
}

.container .content .dialogs-list .top-of-dialogs-list ul li:hover {
    color: #b7b7b7;
}

.container .content .dialogs-list .top-of-dialogs-list ul li:nth-child(1) {
    box-shadow: inset 0 -2px 0 0 #c92020;
    color: #ffffff;
}

.container .content .dialogs-list .personals {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}


.container .content .dialogs-list .personals ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.container .content .dialogs-list .personals ul li {
    list-style: none;
    padding: 17px 0 0 24px;
    display: flex;
    cursor: pointer;
    user-select: none;
    position: relative;
}

/*.container .content .dialogs-list .personals ul li:nth-child(3) {*/
/*    background-color: #2473da;*/
/*    position: relative;*/
/*}*/

.container .content .dialogs-list .personals ul li.clicked {
    background-color: #2473da;
    position: relative;
}

.container .content .dialogs-list .personals ul li.clicked:hover {
    background-color: #2473da;
}

.container .content .dialogs-list .personals ul li.clicked .small-grey-text {
    color: #ffffff !important;
    opacity: 0.5;
}

.container .content .dialogs-list .personals ul li:nth-child(3):after {
    content: "";
    color: white;
    width: 6px;
    height: 100%;
    position: absolute;
    right: -6px;
    bottom: 0;
    background-color: #2473da;
}

.container .content .dialogs-list .personals ul li:hover {
    background-color: #212a30;
}

.container .content .photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #008aff;
    margin-right: 16px;
    background-size: cover;
}


.container .content .dialogs-list .personals .photo.matt {
    background-image: url("images/Sean-Neville.png");
}
.container .content .dialogs-list .personals .photo.aaron {
    background-image: url("images/blcwhite.jpg");
}
.container .content .photo.reich {
    background-image: url("images/reich.jpg");
}
.container .content .dialogs-list .personals .photo.steph {
    background-image: url("images/steph.jpg");
}
.container .content .dialogs-list .personals .photo.amy {
    background-image: url("images/recdf.jpg");
}
.container .content .dialogs-list .personals .photo.helen {
    background-image: url("images/red.jpg");
}

.container .content .dialogs-list .personals .offline::before {
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: solid 2px #282e36;
    background-color: #ff4646;
    position: absolute;
}
.container .content .dialogs-list .personals .online::before {
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: solid 2px #282e36;
    background-color: #26c74c;
    position: absolute;
}
.container .content .dialogs-list .personals .not-active::before {
    width: 8px;
    height: 8px;
    border: solid 2px #282e36;
    background-color: #ffffff;    border-radius: 50%;
    content: "";
    position: absolute;
}

.container .content .dialogs-list .personals ul li .text {
    display: flex;
    flex-direction: row;
    box-shadow: inset 0 -1px 0 0 rgba(90, 95, 101, 0.5);
    padding-bottom: 16px;
    justify-content: space-between;
    width: 100%;
    margin-right: 24px;
    flex: 1;
}

.container .content .dialogs-list .personals ul li .text .inside {
    display: flex;
    flex-direction: column;
}

.container .content .dialogs-list .personals ul li .text .inside .name {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
}

.container .content .dialogs-list .personals ul li .text .inside .message-three-point-end {
    width: 176px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .content .dialogs-list .personals ul li .text .inside .small-grey-text {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #5f6773;
}

.container .content .dialogs-list .personals ul li .text .inside .menu {
    justify-content: end;
    color: #b8bdc5;
    text-align: end;
    font-weight: bolder;
    font-size: 24px;
    letter-spacing: -0.8px;
    line-height: 0.5;
    padding-bottom: 9px;
}
